/* line 3, ../sass/styles.scss */
body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: rgba(243, 250, 182, 0.2);
  font-size: 16px;
}

/* line 11, ../sass/styles.scss */
.intro {
  color: #5fcf80;
  font-size: 3em;
}

/* line 16, ../sass/styles.scss */
a {
  color: #3f8abf;
  text-decoration: none;
}

/* line 19, ../sass/styles.scss */
a:hover {
  color: #65a1cc;
}

/* line 22, ../sass/styles.scss */
form {
  max-width: 97%;
  display: block;
  border-radius: 5px;
}
/* line 27, ../sass/styles.scss */
form .fa {
  color: #5fcf80;
}
/* line 31, ../sass/styles.scss */
form .text {
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 37, ../sass/styles.scss */
form label {
  opacity: 0.80;
}
/* line 41, ../sass/styles.scss */
form .link {
  padding: 20px;
  float: right;
  border: 1px solid #ccc;
  background: rgba(188, 197, 200, 0.2);
  margin: 1%;
  width: 30%;
}
/* line 49, ../sass/styles.scss */
form .link:last-of-type {
  margin-right: 60px;
}
/* line 55, ../sass/styles.scss */
form .group {
  padding-top: 80px;
  margin-left: 20px;
  width: 100%;
}
/* line 59, ../sass/styles.scss */
form .group .form-item {
  padding-top: 30px;
}
/* line 64, ../sass/styles.scss */
form .fields {
  margin-right: 60px;
}
/* line 68, ../sass/styles.scss */
form input, form textarea {
  width: 50%;
  padding: 12px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* line 78, ../sass/styles.scss */
form input[type="email"] {
  margin-left: 50px;
}

/* line 84, ../sass/styles.scss */
input[type="checkbox"] {
  display: none;
}

/* line 88, ../sass/styles.scss */
input[type="checkbox"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../img/unchecked.svg) left top no-repeat;
  cursor: pointer;
}

/* line 98, ../sass/styles.scss */
input[type="checkbox"]:checked {
  background: url(../img/checked.svg) left top no-repeat;
}

@media screen and (max-width: 570px) {
  /* line 103, ../sass/styles.scss */
  div.link {
    width: 97%;
    float: none;
  }
}
/* line 109, ../sass/styles.scss */
fieldset {
  border: none;
}

/* line 113, ../sass/styles.scss */
textarea {
  vertical-align: top;
  margin-left: 80px;
}

/* line 118, ../sass/styles.scss */
#google_translate_element {
  margin-right: 30px;
  margin-bottom: 40px;
}
