/* line 3, ../sass/styles.scss */
body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: rgba(243, 250, 182, 0.2);
  font-size: 16px;
}

/* line 11, ../sass/styles.scss */
.intro {
  padding-top: 40px;
  color: #5fcf80;
  font-size: 3em;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
/* line 31, ../sass/styles.scss */
a {
  color: #3f8abf;
  text-decoration: none;
}

/* line 34, ../sass/styles.scss */
a:hover {
  color: #65a1cc;
}

/* line 37, ../sass/styles.scss */
form {
  max-width: 97%;
  display: block;
  border-radius: 5px;
}
/* line 42, ../sass/styles.scss */
form .text {
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 48, ../sass/styles.scss */
form label {
  opacity: 0.80;
}
/* line 53, ../sass/styles.scss */
form .link {
  padding: 20px;
  float: right;
  border: 1px solid #ccc;
  background: rgba(188, 197, 200, 0.2);
  margin: 1%;
  width: 30%;
}
/* line 61, ../sass/styles.scss */
form .link:last-of-type {
  margin-right: 60px;
}
/* line 66, ../sass/styles.scss */
form .fields div {
  margin-top: 30px;
}
/* line 70, ../sass/styles.scss */
form .group {
  padding-top: 80px;
  margin-left: 20px;
  width: 100%;
}
/* line 74, ../sass/styles.scss */
form .group .form-item {
  padding-top: 30px;
}
/* line 79, ../sass/styles.scss */
form .fields {
  margin-right: 60px;
}
/* line 83, ../sass/styles.scss */
form label {
  margin-right: 30px;
}
/* line 87, ../sass/styles.scss */
form textarea {
  vertical-align: middle;
  padding-left: 30px;
}
/* line 92, ../sass/styles.scss */
form input, form textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* line 102, ../sass/styles.scss */
form input[type="email"] {
  margin-left: 50px;
}
/* line 106, ../sass/styles.scss */
form input[type="submit"] {
  background: #5fcf80;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-animation: hue 60s infinite linear;
  color: white;
  margin-left: 126px;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  transition-delay: 200ms;
}
/* line 118, ../sass/styles.scss */
form input[type="submit"]:hover {
  opacity: 0.7;
}

/* line 125, ../sass/styles.scss */
input[type="checkbox"] {
  display: none;
}

/* line 129, ../sass/styles.scss */
input[type="checkbox"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../img/unchecked.svg) left top no-repeat;
  cursor: pointer;
}

/* line 139, ../sass/styles.scss */
input[type="checkbox"]:checked {
  background: url(../img/checked.svg) left top no-repeat;
}

@media screen and (max-width: 701px) {
  /* line 144, ../sass/styles.scss */
  div.link {
    width: 95%;
    float: none;
    margin-left: 3%;
  }

  /* line 150, ../sass/styles.scss */
  .group {
    margin-top: -30px;
  }

  /* line 154, ../sass/styles.scss */
  .form-item {
    margin-bottom: 20px;
  }

  /* line 158, ../sass/styles.scss */
  .text {
    margin-top: -40px;
  }

  /* line 161, ../sass/styles.scss */
  input {
    width: 95%;
    float: none;
    white-space: nowrap;
  }
}
@media screen and (max-width: 342px) {
  /* line 169, ../sass/styles.scss */
  form {
    margin: 0;
  }
  /* line 172, ../sass/styles.scss */
  form .date {
    margin-left: 20%;
  }
  /* line 176, ../sass/styles.scss */
  form input {
    width: 100%;
  }
}
/* line 182, ../sass/styles.scss */
footer {
  margin-left: 40px;
}

/* line 187, ../sass/styles.scss */
#google_translate_element {
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
}

/* line 193, ../sass/styles.scss */
hr.style-five {
  border: 0;
  height: 0;
  /* Firefox... */
  box-shadow: 0 0 70px 1px black;
}

/* line 198, ../sass/styles.scss */
hr.style-five:after {
  /* Not really supposed to work, but does */
  content: "\00a0";
  /* Prevent margin collapse */
}
