{% extends "base.html" %}
{% block title %}Cvhub | Home{% endblock %}
{% block body %}
    <h3 class="intro">Welcome to CvHub <i class="fa fa-paperclip" aria-hidden="true"></i></h3>
    <p>Please select Profiles to include</p>
    <div class="main" ng-controller="mainCtrl">
        <form action="/data" autocomplete="on" name="infoForm" method="POST"  novalidate>
    {#        <div class="form-group">#}
    {#            <label class="sr-only" for="search">Enter your Treehouse Username</label>#}
    {#            <input id="search"  class="form-control .col-md-4"  name="search" type="text" placeholder="Treehouse username">#}
    {#            <button type="submit" value="send" id="search_submit" class="btn btn-success">Submit</button>#}
    {#        </div>#}
            <div class="link" ng-class="{ 'has-error' : infoForm.linkedin.$invalid && !infoForm.linkedin.$pristine }">
                <label for="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</label>
                <input type="checkbox" name="linkedin" id="linkedin" ng-model="linkedin"><br>
            </div>
            <div class="link">
                <label for="github"><i class="fa fa-github" aria-hidden="true"></i> Github</label>
                <input type="checkbox" id="github" ng-model="github"><br>
            </div>
            <div class="link">
                <label for="treehouse"><i class="fa fa-user-circle" aria-hidden="true"></i> Treehouse</label>
                <input type="checkbox" id="treehouse" ng-model="treehouse">
            </div>

            <div class="group">
                <div class="form-item" ng-show="linkedin">
                    <label for="linkedin_username"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Username</label><br>
                    <input type="text" id="linkedin_username" required/>
                </div>

                <div class="form-item" ng-show="github">
                    <label for="github_username"><i class="fa fa-github" aria-hidden="true"></i> Github Username</label><br>
                    <input type="text" id="github_username" required/>
                </div>

                <div class="form-item" ng-show="treehouse">
                    <label for="treehouse_username"><i class="fa fa-user-circle" aria-hidden="true"></i> Treehouse Username</label><br>
                    <input type="text" id="treehouse_username" required/>
                </div>
            </div>

        <p>We need a little information about yourself</p>

        <div ng-class="{ 'has-error' : infoForm.name.$invalid && !infoForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" required>
            <p ng-show="infoForm.name.$invalid && !infoForm.name.$pristine"
               class="help-block">You name is required.</p>
        </div>
    </form>
    </div>



    <form name="userForm" novalidate>

        <!-- NAME -->

    </form>
    <br><br>
    <footer class="pv4 ph3 ph5-ns tc">
      <div class="mt4">
        <a href="#" class="f6 link dim gray dib mr3 mr4-ns">Help</a>
        <a href="#" class="f6 link dim gray dib mr3 mr4-ns">Send feedback</a>
        <a href="#" class="f6 link dim gray dib mr3 mr4-ns">Privacy</a>
        <a href="#" class="f6 link dim gray dib">Terms</a>
      </div>
    </footer>

{% endblock %}
